<h2><%= @service.name %></h2>
<i><%= @service.description %></i>

<p>
  <strong>Url:</strong>
  <%= link_to @service.url, @service.url %>
</p>

<p>
  <strong>Github:</strong>
  <%= link_to @service.github, @service.github %>
</p>

<p>
  <strong>Status:</strong>
  <%= @service.status %>
</p>

<p>
  <strong>Server:</strong>
  <% if @service.server %>
      <%= link_to @service.server.name, @service.server %>
  <% else %>
      -
  <% end %>
</p>

<%= link_to 'Edit', edit_service_path(@service), :class => 'btn btn-primary' %> 
